/*
Colors used:
Primary color (vivid purple): #6E02FF;
Secondary color (wine): #882741;
Black: #000000;
White: #FFFFFF;
Neutral 1 (cream): #fafbf5;
Neutral 2 (midnight): #1C061D;
Accent 1 (periwinkle): #c8ccfe;
Accent 2: (hot pink): #FF2C64;
*/

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #fafbf5;
    padding: 10px 0 4px;
    top: 0;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

main {
    padding-top: 96.59px;
}

body {
    background-color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #08001B;
    margin: 0;
}

q {
    background-color: #FFFFFF;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.6;
    color: #08001B;
    margin: 0;
    font-style: italic;
}

h1,
h2,
h3,
h4 {
    line-height: 1.4;
    font-family: 'Shippori Mincho B1', serif;
}

h1 {
    font-size: 2.0em;
    font-weight: 500;
}

h2 {
    font-size: 1.6em;
    font-weight: 400;
}

h3 {
    font-size: 1.4em;
    font-weight: 400;
}

h4 {
    font-size: 1.1em;
    font-weight: 400;
}

p {
    font-family: Figtree;
}

#primary-title {
    color: #8182FF;
}

img {
    width: 100%;
}

a {
    color: #6E02FF;
    text-decoration: none;
    transition-property: color;
    transition-duration: .4s
}

#work h3 {
    margin-top: 0;
}

a:visited {
    color: #882741;
    text-decoration: underline;
}

a:hover,
a:focus {
    color: #6E02FF;
    text-decoration: underline;
}

a:active {
    color: #FF2C64;
    font-weight: 500;
}

.button,
.button:visited {
    display: inline-block;
    background-color: #6E02FF;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px;
    border-radius: 0px;
    border: 2px solid #6E02FF;
    transition-property: opacity;
    transition-duration: 0.4s
}

.button:hover,
.button:active {
    opacity: 0.85;
    color: #FFFFFF;
    text-decoration: none;
}

.button.contact {
    background-color: transparent;
    color: #6E02FF;
    border: 2px solid #6E02FF;
    margin: 5px;
    transition-property: background-color, color;
    transition-duration: 0.4s;
}

.button.contact:hover,
.button.contact:active {
    background-color: #6E02FF;
    color: #ffffff;
    text-decoration: none;
}

/* Layout styling */
.container {
    padding: 0 15px;
}

.row {
    margin: 25px 0;
}

#work .row {
    padding-bottom: 25px;
    border-bottom: 1px solid #1C061D;
}

.logo {
    max-width: 150px;
    text-align: center
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.social-icon {
    max-width: 35px;
}

nav>ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav>ul>li>a {
    padding: 0 15px;
    text-transform: uppercase;
    font-weight: 500;
    color: #6E02FF;
}

nav>ul>li>a:visited {
    color: #882741;
}

nav>ul>li>a:hover,
a:active {
    color: #FF2C64;
}

.navtoggle li:not(:last-child) {
    display: none;
}

.navtoggle,
.navtoggle.responsive {
    position: relative;
}

.navtoggle li .icon {
    position: absolute;
    right: 0;
    top: 25px;
    font-size: 20px;
    padding-right: 15px;
}

.navtoggle.responsive li {
    display: block;
}

.navtoggle.responsive nav {
    padding: 24px 0 0;
}

.navtoggle.responsive li {
    display: block;
    text-align: center;
    padding: 10px 0;
    border-top: 1px solid #6E02FF;
}

.navtoggle.responsive li:last-child {
    padding: 0 0 10px;
}

#hero {
    color: #fafbf5;
    background-color: #1C061D;
    text-align: center;
    padding: 20px 0;
}

#hero span {
    display: block;
}

#bio-image {
    max-width: 225px;
    padding: 20px, 0;
}

#contact {
    text-align: center;
}

#last {
    padding-top: 20px;
}

.animated {
    max-width: 300px;
    width: 100%;
    height: auto;
}

/* Nav Animation */
nav a {
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav a:hover {
    text-decoration: none;
}

nav.top-bottom-borders-out a:before,
nav.top-bottom-borders-out a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FF2C64;
    content: "";
    opacity: 0;
    transition: all 0.4s;
}

nav.top-bottom-borders-out a:before {
    top: -8px;
    transform: translateY(15px);
}

nav.top-bottom-borders-out a:after {
    bottom: -8px;
    transform: translateY(-10px);
}

nav.top-bottom-borders-out a:hover:before,
nav.top-bottom-borders-out a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Contact form styling */

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #c8ccfe;
    border-radius: 0px;
    box-sizing: border-box;
    margin-top: 4px;
    margin-bottom: 4px;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    color: #08001B;
    resize: none;
}

input[type=submit] {
    background-color: #FFFFFF;
    color: #6E02FF;
    padding: 10px;
    border: 2px solid #6E02FF;
    width: 100px;
    margin: 5px;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6;
    transition-property: background-color, color;
    transition-duration: 0.4s;
}

input[type=submit]:hover input[type=submit]:active {
    background-color: #6E02FF;
    color: #ffffff;
    text-decoration: none;
}

footer {
    padding: 200px, 0;
}

#footer {
    background-color: #c8ccfe;

}

/* Media Queries */
/* ==============================
Medium devices (700px and larger)
================================= */
@media only screen and (min-width: 700px) {
    header {
        text-align: unset;
        padding: 20px 0 13px;
    }

    nav {
        width: auto;
        float: right;
        margin-top: 40px;
    }

    nav>ul>li {
        display: inline-block;
    }

    nav>ul {
        margin: 1em 0;
    }

    .navtoggle li:not(:last-child) {
        display: inline-block;
    }

    .navtoggle li:last-child {
        display: none;
    }

    main {
        padding-top: 132.594px;
    }

    body {
        font-size: 16px;
    }

    #hero {
        padding: 100px;
    }

    .col-md-6 {
        width: 50%;
    }

    [class*="col-"] {
        float: left;
        padding: 20px;
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    #about h3 {
        margin-top: 0;
    }

    .logo {
        max-width: 250px;
    }

    #about {
        padding-top: 35px;
    }

    #kayapp {
        padding-top: 35px;
    }

    input[type=text],
select,
textarea {
    max-width: 515px;

}

.animated {
    max-width: 350px;
    width: 100%;
    height: auto;
}

}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
    .col-lg-5 {
        width: 41.66%;
    }

    .col-lg-7 {
        width: 58.33%;
    }

    .container {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
        padding: auto 100px;
    }

    .navtoggle.responsive li {
        border-top: 0;
    }

    .navtoggle.responsive nav {
        padding: 0;
    }

    .navtoggle.responsive li {
        padding: 0;
    }

    .animated {
        max-width: 400px;
        width: 100%;
        height: auto;
    }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
    .container {
        max-width: 2400px;
        margin-left: auto;
        margin-right: auto;
    }

    body {
        font-size: 1.2em;
    }

    h {
        font-size: 1.2em;
    }
}